.navbar-brand {
    font-weight: bold;

}
.container-fluid{
    background-color: #fff;
    width:375px;
}
#login, #sign-up{
    padding: 30px 20px;
    font-size: 1rem;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.forgot-pin,h6{
    text-align: center;
}
