.navbar-brand {
    font-weight: bold;

}
.container-fluid{
    background-color: #fff;
}
#login{
    padding: 30px 24px;
    font-size: 1rem;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.forgot-pin,h6{
    text-align: center;
}
